<template name="editor">
  <section class="post" style="padding-bottom:0px; padding-top:0px">
    <div class="row" id="messages" style="padding-top:15px">
      {{#isolate}}
      <div class="col-lg-md-12" style="display:{{displayMessageStyle}}">
        <h4 style="color:#EB1E2C; text-align:center">{{getMessage}}</h4>
      </div>
      {{/isolate}}
    </div>

    <div class="row">
      <div class="col-md-10">
        {{#with episode_and_show}} {{> episode_title}} {{/with}}
      </div>

      {{#if is_completed}}
      <div class="col-md-2" style="padding-right:0px">
        <img id="checkmark" class="right" src="/green_checkmark.png" />
      </div>

      {{else}}
      <div class="col-md-2" style="padding-right:0px">
        {{#if is_trial}}
          {{> trial_buttons}}
        {{else}}
          {{> editor_buttons}}
        {{/if}}
      </div>
      {{/if}}

    </div>
    <div class="row"><hr /></div>

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          {{#with episode}}
          {{#constant}}
          {{> editor_player}}
          {{/constant}}
          {{/with}}
        </div>
      </div>

      <div class="col-md-2" style="position:relative" id="editor_start_back_parent">
        {{> editor_timing_input start_timing}}
        {{> editor_skip_button  skip_back}}
      </div>

      <div class="col-md-2" style="position:relative" id="editor_end_forward_parent">
        {{> editor_timing_input end_timing}}
        {{> editor_skip_button  skip_forward}}
      </div>

      <div class="col-md-4" style="padding-right:0px">
        {{> editor_links}}
      </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom:15px">
      <div class="col-md-8">
        <div class="row">
          {{>editor_notes}}
        </div>
      </div>
      <div class="col-md-4" id="editor_link_parent" style="padding-right:0px;">
        <small class="box_title">Add Link</small>
        {{> editor_link_input link_url}}
        {{> editor_link_input link_text}}
        <button class="btn btn-default btn-sm" id="add_link" style="width:79px; float:right">Add Link</button>
      </div>
    </div>

    {{#if is_trial}}
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <button class="btn btn-block btn-primary btn-sm" id="submit_clip">Record this clip's notes and links</button>
        </div>
      </div>
    </div>
    {{else}}
      {{#if is_claimer}}
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <button class="btn btn-block btn-primary btn-sm" id="submit_clip">Record this clip's notes and links</button>
          </div>
        </div>
      </div>
      {{/if}}
    {{/if}}
    <hr style="" />
  </section>

  {{#with episode}}
  {{#each completed_clips}}
  {{> editable_clip}}
  {{/each}}
  {{/with}}

  {{#if is_trial}}
  <hr>
  <div class="row">
    <div class="col-md-12">
      <button style="min-width:119px;" class="btn btn-primary btn-block btn-sm" id="submit_episode">Submit Episode</button>
    </div>
  </div>
  {{else}}
    {{#if is_trial}}
    <hr>
    <div class="row">
      <div class="col-md-12">
        <button style="min-width:119px;" class="btn btn-primary btn-block btn-sm" id="submit_episode">Submit Episode</button>
      </div>
    </div>
    {{/if}}
  {{/if}}
</template>

<template name="editor_buttons">
  {{#if is_unclaimed}}
  <button class="btn btn-primary btn-sm right" id="claim_episode" href="#">Claim Episode</button>
  {{/if}}

  {{#if is_claimed}}
  <button class="btn btn-primary btn-sm right" href="#">Episode Claimed</button>
  {{/if}}

  {{#if is_claimer}}
  <button class="btn btn-primary btn-sm right" id="unclaim_episode">Unclaim Episode</button>
  {{/if}}
</template>

<template name="editor_timing_input">
  <div class="input-group input-group-sm" style="position:absolute; margin-left:10px">
    <span class="input-group-addon" style="min-width:46px; cursor:pointer">
      <a id="{{label}}_timer">{{label}}</a>
    </span>
    <input class="form-control" type="text" id="{{id}}" style="width:65px" placeholder="00:00:00">
  </div>
</template>

<template name="editor_skip_button">
  <div class="input-group input-group-sm" style="position:absolute; margin-left:10px">
    <span class="input-group-addon" style="min-width:46px; cursor:pointer">
      <i class="fa fa-arrow-circle-{{direction}}"></i>
    </span>
    <button class="btn btn-default btn-sm" id="{{id}}" style="width:65px">{{label}}</button>
  </div>
</template>

<template name="editor_reset_button">
  <div class="input-group input-group-sm" style="float:right">
    <span id="{{id}}" class="input-group-addon reset_button" style="border:1px solid #ccc;">
      <a>{{label}}</a>
    </span>
  </div>
</template>

<template name="character_cutoff">
  <small class="box_title" style="display:inline-block; float:right">
    <div id="character_cutoff">
      <span style="color:{{current_notes_color}}">{{current_char_counter}}</span>
      <span>&nbsp;/&nbsp;</span>
      <span>{{max_chars}}</span>
    </div>
  </small>
</template>

<template name="editor_notes">
  <small class="box_title">Notes</small>
  {{>character_cutoff}}
  <div id="notes" class="editor_text" contenteditable="true"></div>
</template>

<template name="editor_link_input">
  <div class="input-group input-group-sm" style="width:100%; margin-bottom:5px">
    <span class="input-group-addon"></span>
    <input class="form-control" type="text" id="{{id}}" placeholder="{{label}}"/>
  </div>
</template>

<template name="editor_links">
  <div class="row">
    <div class="col-md-10">
      <div style="overflow-x:hidden; overflow-y:scroll; max-height:85px">
        <ul style="list-style-type: none; padding-left:0px">
          {{#each current_clip_links}}
          {{> clip_link}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="clip_link">
  <li>
    <a class="remove_link" style="cursor:pointer"><i class="fa fa-times"></i></a>
    <a href="{{url}}"><span>{{text}}</span></a>
  </li>
</template>

<template name="links_example">
  <p class="link_instruction">Events or People: Wikipedia</p>
  <p class="link_instruction">Products: Amazon</p>
  <p class="link_instruction">Video: Youtube</p>
</template>

<template name="editable_clip">
  <section class="post" style="padding-bottom:8px; padding-top:8px">
    <div class="row" style="padding-bottom:25px">
      <div style="float:left; margin-right:15px">
        <em>
          <small class="muted">Start: {{format_time start}}</small>
        </em>
      </div>
      <div style="float:left">
        <em>
          <small class="muted">End: {{format_time end}}</small>
        </em>
      </div>
      <div style="float:right">
        <em>
          <small class="muted">Author: {{author}}</small>
        </em>
      </div>
    </div>
    {{#if editing_this_clip}}
    <div class="row" style="margin-bottom:10px">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-8" style="padding-left:0px">
            <div id="cutoff_message" style="color:#EB1E2C;"></div>
          </div>
          <div class="col-md-4" style="padding-right:0px">
            <button id="cancel_edits" class="btn btn-sm right">Cancel</button>
            <button id="save_edits" class="btn btn-sm right" style="margin-right:10px">Save</button>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          {{#constant}}
          <div class="editor_text_post editor_text_notes" style="cursor:pointer">
            {{notes}}
          </div>
          {{/constant}}
        </div>
      </div>
      <div class="col-md-5" style="padding-right:0px">
        <div class="editor_text_post">
          <ul style="list-style-type: none; padding-left:0px">
            {{#each links}}
            <li>
              <a clip_id="{{../_id}}" class="remove_link" style="cursor:pointer"><i class="fa fa-times"></i></a>
              <a href="{{url}}"><span>{{text}}</span></a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<template name="episode_title">
  <div class="row" style="max-height:39px;">
    <h4 class="left resizeMe">{{episode.name}}</h4>
    <h4 class="left resizeMe" style="margin-left: 10px; margin-right: 10px; text-align: center;">from</h4>
    <h4 class="left resizeMe">{{show.name}}</h4>
  </div>
</template>

<template name="trial_buttons">
  {{#if currentUser}}
    {{#if is_trial_running}}
      <button class="btn btn-info btn-sm right">Started</small>
    {{else}}
      {{#if is_trial_complete}}
        <button class="btn btn-primary btn-sm right">Thanks!</button>
      {{else}}
        <button class="btn btn-primary btn-sm right" id="start_trial">Start</button>
      {{/if}}
    {{/if}}
  {{else}}
    <button class="btn btn-info bnt-sm right">Please Log In</small>
  {{/if}}
</template>
